# Ignore data
data/*.txt

# Ignoring compiled object file
*.pyc

# This annoying mac thing
.DS_Store

# Ignore random notebook stuff
code/notebooks/.ipynb_checkpoints/*
.ipynb_checkpoints/*

# Ignore glove data
data/glove/*.txt

# Ignore pickled files and metadata
*.cpkl
*.json
